* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.container {
    max-width: 100%;
    max-height: 780px;/* Changed */
    overflow-x: auto;/* Changed */
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #82bfff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


form{
    margin-top: 760px;
}
.profile-picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background-color: #15169a;
}

.edit-icon {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.edit-icon:hover {
    background-color: #0056b3;
}

.personal-info {
    margin-bottom: 20px;
}

.personal-info label,
.right-section label {
    font-weight: bold;
    color: #15169a;
    font-size: 16px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    background-color: white;
    border: 1px solid #15169a;
    font-size: 16px;
    margin-bottom: 15px; /* Added margin between form inputs */
}

.btn-primary {
    width: 150px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    margin-bottom: 20px;/* Changed */

}

.btn-primary:hover {
    background-color: #0056b3;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-container hr {
    flex: 1;
    border: 0;
    border-top: 2px solid #15169a;
    margin-left: 10px;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        max-height: 100%;
    }
    form{
        margin-top: 0;
    }
    .profile-picture {
        width: 150px;
        height: 150px;
    }

    .edit-icon {
        padding: 5px;
    }

    .btn-primary {
        align-self: center;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-container hr {
        margin: 10px 0;
        width: 100%;
    }

    .profile-picture {
        width: 100px;
        height: 100px;
    }

    .edit-icon {
        padding: 3px;
    }

    .btn-primary {
        width: 100%;
        padding: 15px;
    }
    
}

@media (max-width: 480px) {
    .form-control {
        padding: 8px;
        height: 40px;
    }

    .btn-primary {
        padding: 10px;
    }
}
